*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    padding: 10px;
    width: 400px;
    height: auto;
    background-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 6px 6px 13px gray,  -6px -6px 13px gray;
}
.color-name{
    width: 100%;
    text-transform: capitalize;
    margin: 30px;
    font-size: 30px;
    font-style: italic;
}
button{
    width: 35%;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    margin-bottom: 30px;
    color:white;
    background-color: black;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 8px;
    transition: all .5s;
}
button:hover{
    color:black;
    background-color: white;
    border: 1px solid black;
}